body {
    background-color: #c1b4ac;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
}

.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
    font-size: 3rem;
    color: #745a28;
}

#menu {
    list-style-type: none;
    transition: transform.3s;
    transform-origin: top left;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-top: -45px;
    margin-left: 15px;

}

#menu a {
    text-decoration: none;
    color: #9d8454;

}

.footer {
    padding: 10px 50px 10px;
    background-color: #745a28;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
}

.footer a {
    margin-top: 5px;
    text-decoration: none;
    font-size: 0.9rem;
    color: #e0d0b2;
    line-height: 30%;
}

.footer h3 {
    font-family: 'Staatliches', cursive;
    color: #e0d0b2;
}

.footer h4 {
    font-family: 'Noto Sans JP', sans-serif;
}


/*GRUNDLÆGGENDE WEB____________________________-*/

.html_container {
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
}

.overskrift {
    background-color: #c1b4ac;
    font-family: 'Staatliches', cursive;
    text-align: left;
    margin-left: 0px;
    color: #9d8454;
}

h3 {
    font-family: 'Staatliches', cursive;
    text-align: left;
    margin-left: 1px;
    color: #9d8454;
}

p {
    color: #574c38;
    font-family: 'Roboto', sans-serif;
    line-height: 200%;
}


.web_tekst p {
    color: #574c38;
    font-size: 2.5rem;
}

.web_tekst {
    padding-top: 90px;
    text-align: center;
    background-color: #b59999;
}

.html_img_2 {
    padding-top: 10px;
    width: 95%;
    height: 95%;
    background-color: #b59999;

}

.html_container a {
    background-color: #b59999;
}

.html_img_3 {
    padding-top: 40px;
    margin-left: 10px;
}

.web_start_tekst {
    margin-left: 25px;
    margin-top: -16px;
}

.web_start_tekst h3 {
    background-color: #ceb9b9;
}


.tekst_2 h3 {
    background-color: #ceb9b9;
}

.tekst_2 {
    padding-top: 20px;
}

.html_img_4 {
    margin-right: 80px;
}



@media (min-width:700px) {
    .html_container {
        grid-template-columns: 1fr 1fr;
        margin-left: 80px;
        margin-right: 80px;
    }

    .overskrift {
        margin-left: 40px;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .web_tekst p {
        color: #574c38;
        font-size: 2rem;
        padding-bottom: 50px;

    }

    .html_img_3 {
        margin-left: 50px;
    }

    .css_billede {
        padding-bottom: 30px;
    }
}

@media (min-width:1200px) {
    .html_container {
        grid-template-columns: 1fr 1fr;
        margin-left: 110px;
        margin-right: 110px;

    }

    .overskrift {
        margin-left: 70px;
    }

    img {
        width: 90%;
        height: 90%;
    }

    p {
        color: #574c38;
        font-family: 'Roboto', sans-serif;
        line-height: 300%;
    }

    .web_tekst p {
        color: #574c38;
        font-size: 2.5rem;
    }

     .html_img_3 {
        margin-left: 70px;
    }
}
